body{
margin:0;
font-family:sans-serif;
background:#0b141a;
color:white;
}

/* HEADER */
.header{
position:fixed;
top:0;
width:100%;
background:#202c33;
padding:15px;
text-align:center;
}

/* SCREENS */
.screen{
display:none;
padding-top:60px;
padding-bottom:70px;
height:100vh;
overflow:auto;
}
.screen.active{display:block;}

/* LIST */
.chat,.contact{
padding:15px;
border-bottom:1px solid #222;
display:flex;
justify-content:space-between;
align-items:center;
}

/* NAV */
.nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#202c33;
padding:10px;
}

/* CHAT WINDOW */
.chat-window{
position:fixed;
top:0;
left:100%;
width:100%;
height:100%;
background:#0b141a;
display:flex;
flex-direction:column;
transition:0.3s;
}
.chat-window.active{left:0;}

.chat-header{
background:#202c33;
padding:10px;
display:flex;
gap:5px;
}

.messages{
flex:1;
overflow:auto;
padding:10px;
}

.message{
padding:10px;
margin:5px;
border-radius:10px;
max-width:70%;
}
.sent{background:#005c4b;margin-left:auto;}
.received{background:#202c33;}

.input-area{
display:flex;
padding:10px;
background:#202c33;
position:fixed;
bottom:0;
width:100%;
}

input{
padding:10px;
border:none;
border-radius:20px;
flex:1;
}

button{
background:#00a884;
border:none;
color:white;
padding:10px;
border-radius:50%;
margin-left:5px;
}